{{#if addNewCity}}
    <h3>New Answer</h3>

    <div>
      <form>
        <div class="form-group">
          <label for="name">Your name:</label>
          {{input value=name id="name"}}
        </div>
        <div class="form-group">
          <label for="country">Your answer:</label>
          {{input value=country id="country"}}
        </div>
        <button {{action 'saveCity'}}>Submit</button>

      </form>
    </div>
  {{else}}
    <button {{action 'cityFormShow'}}>New Answer</button>
{{/if}}
