{{#if addNewRental}}
<h3>New Answer</h3>
  <div>
    <form>
      <div class="form-group">
        <label for="owner">Your name:</label>
        {{input value=owner id="owner"}}
      </div>

      <div class="form-group">
        <label for="type">Your answer:</label>
        {{input value=type id="type"}}
      </div>

      <div class="form-group">
        <label for="bedrooms">Number of Bedrooms</label>
        {{input value=bedrooms id="bedrooms"}}
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=image id="image"}}
      </div>

      <button {{action 'save1'}}>Submit</button>
    </form>
  </div>
{{else}}
  <button {{action 'rentalFormShow'}}>New Answer</button>
{{/if}}
