{{#if addNewRental}}
<h3>New Answer</h3>
  <div>
    <form>
      <div class="form-group">
        <label for="owner">Your name:</label>
        {{input value=owner id="owner"}}
      </div>

      <div class="form-group">
        <label for="type">Your answer:</label>
        {{input value=type id="type"}}
      </div>

      <button {{action 'save1'}}>Submit</button>
    </form>
  </div>
{{else}}
  <button {{action 'rentalFormShow'}}>New Answer</button>
{{/if}}
